<!-- 
<div ng-controller="CompanyController as ctrl">
<page-breadcrumb></page-breadcrumb>
	<alert-success></alert-success>
	<alert-fail></alert-fail>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box blue">
 				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-edit"></i>{{pageName}}
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> <i class="icon-collapse"></i></a> <a ng-click="ctrl.getCompany()" class="reload"> </a>
					</div>
				</div>
				<div class="portlet-body">
					<button-and-search></button-and-search>
					<main-grid></main-grid>
					<bottom-alert></bottom-alert>
				</div>
			</div>
		</div>
	</div>
</div> -->