
<div class="row">
	<div class="col-md-12">
		<h3 class="page-title">Dashboard</h3>
		<ul class="page-breadcrumb breadcrumb">
			<!-- 	<li><i class="fa fa-home"></i> <a ng-href="#!dashboard/">Dashboard</a>
				<i class="fa fa-angle-right"></i></li> -->

		</ul>
	</div>
</div>

<div class="row">

	
	<div id="f1_container" class="col-lg-3 col-md-3 col-sm-4 col-xs-9 ">
		<div id="f1_card" class="shadow dashboard-stat  green-haze">
			<div class="face">
				<div class="visual">
					<i class="glyphicon glyphicon-leaf"></i>
				</div>
				<div class="details">
					<div class="number">{{branchesCount}}</div>
					<div class="desc">Branches</div>
				</div>
				<a class="more" ng-href="#!branch"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
			<div class="back face center ">
				<div class="visual">
					<i class="glyphicon glyphicon-leaf"></i>
				</div>
				<div class="details">
					<p>Find all details</p>
					<p>You can perform all related operations</p>
				</div>
				<a class="more" ng-href="#!branch"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="f1_container" class="col-lg-3 col-md-3 col-sm-4 col-xs-9 ">
		<div id="f1_card" class="shadow dashboard-stat  blue-madison">
			<div class="face">
				<div class="visual">
					<i class="glyphicon glyphicon-screenshot"></i>
				</div>
				<div class="details">
 					<div class="desc">Upload Advertisement</div>
				</div>
				<a class="more" ng-href="#!fileupload"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
			<div class="back face center ">
				<div class="visual">
					<i class="glyphicon glyphicon-screenshot"></i>
				</div>
				<div class="details">
					<p>Find all details</p>
					<p>You can perform all related operations</p>
				</div>
				<a class="more" ng-href="#!fileupload"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- <div id="f1_container" class="col-lg-3 col-md-3 col-sm-4 col-xs-9 ">
		<div id="f1_card" class="shadow dashboard-stat  yellow-lemon">
			<div class="face">
				<div class="visual">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				<div class="details">
 					<div class="desc">Get Branch Code</div>
				</div>
				<a class="more" ng-href="#!branchcode"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
			<div class="back face center ">
				<div class="visual">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				<div class="details">
					<p>Find all details</p>
					<p>You can perform all related operations</p>
				</div>
				<a class="more" ng-href="#!branchcode"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
	</div> -->
</div>
 
				 