/*Angular-BootstrapFix*/
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
}

.nav-tabs {
	border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	border-width: 0;
}

.nav-tabs>li>a {
	border: none;
	color: #ffffff;
	background: #5a4080;
}

.nav-tabs>li.active>a, .nav-tabs>li>a:hover {
	border: none;
	color: #5a4080 !important;
	background: #fff;
}

.nav-tabs>li>a::after {
	content: "";
	background: #5a4080;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs>li.active>a::after, .nav-tabs>li:hover>a::after {
	transform: scale(1);
}

.tab-nav>li>a::after {
	background: #5a4080 none repeat scroll 0% 0%;
	color: #fff;
}

.tab-pane {
	padding: 15px 0;
}

.tab-content {
	padding: 20px
}

.nav-tabs>li {
	width: 20%;
	text-align: center;
}

.card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
}

body {
	background: #EDECEC;
	padding: 50px
}

@media all and (max-width:724px) {
	.nav-tabs>li>a>span {
		display: none;
	}
	.nav-tabs>li>a {
		padding: 5px 5px;
	}
}

.page-title {
	margin-top: 20px !important;
}

.page-content.inividual-template {
	margin-left: 190px !important;
}

body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer>a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}

.control-label {
	font-weight: bold;
}

#company-grid {
	height: 450px;
}

.ui-grid-row:nth-child(even) {
	background-color: #f9f9f9 !important;
}

.ui-grid-row:nth-child(odd) {
	background-color: #ffffff !important;
}

.grid-tooltip {
	overflow: visible;
	z-index: 9999999;
	float: left;
}

.remove-bottom-margin {
	margin-bottom: 0px !important;
}

.ui-grid-viewport .ui-grid-cell-contents {
	word-wrap: break-word;
	white-space: normal !important;
	font-family: "Open Sans", sans-serif !important;
}

.ui-grid-row, .ui-grid-cell {
	height: auto !important;
	margin: 1px;
}

.ui-grid-row div[role=row] {
	display: flex;
	align-content: stretch;
}

.btn-grid-position {
	margin: 2px 2px 5px 0 !important;
}

.group-section {
	margin-top: 0px;
	border: 1px solid #ccc;
	padding: 10px;
}

.inputfield {
	height: 30px;
}

.address-inputbox .inputfield {
	margin-bottom: 10px !important;
}

.search-input-field {
	margin-bottom: 10px !important;
}

/*
 search icon inside input box
 */

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}
/*
 */
.form-control:focus {
	border-color: #66afe9 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(126, 239, 104, 0.6) !important;
}

.modal.fade:not .in  .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}

.modal-header {
	background: lightslategrey !important;
}

.modal-dialog {
	margin-top: 50px !important;
}

.ui-grid-menu-button {
	height: 29px !important;
}

.mandatory .inputfield {
	border-color: #FF0000;
}

.ui-grid-header-cell {
	background-color: white !important;
}

.noborder {
	border-right: none !important;
}

.login-page-inputes {
	border-radius: 0px !important;
}

.has-error {
	color: red;
}

.company-name {
	color: white;
	margin-top: 3px !important;
}

#f1_container {
	position: relative;
	margin: 10px auto;
	height: 124px;
	z-index: 1;
}

#f1_container {
	perspective: 1000;
}

#f1_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
	transform: rotateY(180deg);
	box-shadow: -5px 5px 5px #aaa;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding-top: 3px;
	color: white;
	background-color: #004040;
}

.border-info {
	border: 1px solid blue !important;
}

.border-success {
	border: 1px solid green !important;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: auto;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

 .zoom {
	transition: transform .2s;
}

.zoom:hover {
	-ms-transform: scale(2); /* IE 9 */
	-webkit-transform: scale(25); /* Safari 3-8 */
	transform: scale(2);
}

.img-thumbnail {
	height: 250px !important;
	width: 200px !important;
}
 
.editable-buttons {
	display: table !important;
	padding-top: 5px !important;
	padding-left: 148px !important;
}


.ui-grid-cell.ng-scope {
	overflow: visible;
}
.grid.ui-grid.ng-isolate-scope{
overflow: visible;
	height: 1450px;
}
.ui-grid-viewport.ng-isolate-scope{
	overflow: visible !important;
}
 
.ui-grid-row-dirty .ui-grid-cell {
    color: #94c11c;
    background-color: #ccc;
}
.fileupload{
	padding-left: 0px;
}
._720kb-datepicker-calendar._720kb-datepicker-open{
	width: 300px !important;
}
.apply-to-all{
	padding-top: 10px;
}
.apply-to-all-checkbox{
	margin-right: 5px;
}
.navbar-left-menu
{
    position: absolute;
    width: 100%;
    left: 250px;
    text-align: center;
    margin:0 auto;
   font-size: 17px;
}
.navbar-toggle {
    z-index:3;
}
.navbar-nav>li>a {
	    line-height: 16px !important ;
}
.operation-menu{
	color:white !important;
}

.top-menu-admin{
	  font-size: 15px;	
}